---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # VPN Access
  openvpn:
    cap_add:
      - NET_ADMIN
    image: kylemanna/openvpn
    ports:
      - "1194:1194/udp"
    restart: unless-stopped
    volumes:
      - {{ volumes_root }}/openvpn:/etc/openvpn