---
version: '2'

networks:
  traefik_network:
    external:
      name: homelabos_traefik
services:
  duplicati:
    networks:
      - traefik_network
    image: linuxserver/duplicati
    container_name: duplicati
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - {{ volumes_root }}/duplicati/config:/config
      - {{ volumes_root }}/duplicati/backups:/backups
      - {{ volumes_root }}/duplicati/source:/source
    ports:
      - 8200:8200
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:duplicati.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=8200"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:duplicati.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8200"
{% endif %}
    restart: unless-stopped
