---
version: '3'

services:
  # Amazon Dash Button
  dasher:
    image: hijinx/dasher
    restart: unless-stopped
    network_mode: host
    volumes:
      - {{ volumes_root }}/dasher/config.json:/usr/src/app/config/config.json