---
version: '3'

services:
  watchtower:
    image: v2tec/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ volumes_root }}/watchtower/config.json:/config.json
    command: --interval 900 #15 minutes