[Unit]
Description=HomelabOS {{ service_item }} Service
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=infinity
Restart=always
RestartSec=3

ExecStart=/usr/bin/docker-compose -f {{ volumes_root }}/{{ service_item }}/docker-compose.{{ service_item }}.yml -p {{ service_item }} up
ExecStop=/usr/bin/docker-compose -f {{ volumes_root }}/{{ service_item }}/docker-compose.{{ service_item }}.yml -p {{ service_item }} stop

[Install]
WantedBy=multi-user.target
