---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Password Manager
  bitwarden_web:
    image: bitwardenrs/server:latest
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - {{ volumes_root }}/bitwarden:/data
    environment:
      - SMTP_HOST={{ smtp.host }}
      - SMTP_FROM={{ smtp.from_email }}
      - SMTP_PORT=587
      - SMTP_SSL=true
      - SMTP_USERNAME={{ smtp.user }}
      - SMTP_PASSWORD={{ smtp.pass }}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:bitwarden.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:bitwarden.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}
