---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Personal Relationship Database
  monicahq:
    image: monicahq/monicahq
    networks:
      - traefik_network
    restart: unless-stopped
    ports:
      - 8176:80
    volumes:
      - {{ volumes_root }}/monicahq/storage/app/public:/var/www/monica/storage/app/public
    env_file:
      - {{ volumes_root }}/monicahq/monicahq.env
    environment:
      - APP_KEY="{{lookup('password', './settings/passwords/monicahq_app_key chars=digits length=32')}}"
      - DB_PASSWORD="{{lookup('password', './settings/passwords/monicahq_db_password chars=digits')}}"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:monicahq.{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:monicahq.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}

  monicahq_db:
    image: mariadb
    networks:
      - traefik_network
    restart: unless-stopped
    env_file:
      - {{ volumes_root }}/monicahq/monicahq.env
    environment:
      - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/monicahq_db_password chars=digits')}}"
    volumes:
      - {{ volumes_root }}/monicahq/mysql:/var/lib/mysql
