---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
 # Code Hosting
  gitea:
    image: gitea/gitea:1.8.3
    networks:
      - traefik_network
    environment:
      - USER_UID={{ uid_output.stdout }}
      - USER_GID={{ gid_output.stdout }}
{% if gitea.use_mariadb %}
      - DB_TYPE=mysql
      - DB_HOST=gitea_db:3306
      - DB_NAME=gitea
      - DB_USER=gitea
      - DB_PASSWD={{ lookup('password', './settings/passwords/gitea_db_password chars=digits') }}
{% endif %}
      - SSH_DOMAIN=gitea.{{ domain }}
      - SSH_PORT={{ gitea.gitea_ssh_port }}
      - LFS_START_SERVER=true
    restart: unless-stopped
    volumes:
      - {{ volumes_root }}/gitea:/data
    ports:
      - "{{ gitea.gitea_ssh_port }}:22"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:gitea.{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=3000"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:gitea.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=3000"
{% endif %}

{% if gitea.use_mariadb %}
    depends_on:
      - gitea_db

  gitea_db:
    image: mariadb
    networks:
      - traefik_network
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD={{ lookup('password', './settings/passwords/gitea_db_root_password chars=digits') }}
      - MYSQL_USER=gitea
      - MYSQL_DATABASE=gitea
      - MYSQL_PASSWORD={{ lookup('password', './settings/passwords/gitea_db_password chars=digits') }}
    volumes:
      - {{ volumes_root }}/gitea_db:/var/lib/mysql
{% endif %}
