---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services: 
  piwigo:
    restart: unless-stopped
    domainname: localhost
    depends_on:
      - mysqlpiwigo
    networks:
      - traefik_network
    ports:
      - 8088:80
    image: mathieuruellan/piwigo
    volumes:
        - {{ volumes_root }}/piwigo/config:/config
        - {{ volumes_root }}/piwigo/data/galleries:/var/www/galleries
        - {{ volumes_root }}/piwigo/data/local:/var/www/local
        - {{ volumes_root }}/piwigo/data/plugins:/var/www/plugins
        - {{ volumes_root }}/piwigo/data/themes:/var/www/themes
        - {{ volumes_root }}/piwigo/cache:/var/www/_data/i
        - {{ volumes_root }}/piwigo/upload:/var/www/upload
        - {{ volumes_root }}/piwigo/logs:/var/log/apache2
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:piwigo.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:piwigo.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}

  mysqlpiwigo:
    restart: unless-stopped
    image: mariadb:10.4
    networks:
      - traefik_network
    volumes:
      - {{ volumes_root }}/piwigo/mysql/:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD="{{lookup('password', './settings/passwords/piwigo_root_db_password chars=digits')}}"
      - MYSQL_DATABASE=piwigo
      - MYSQL_USER=piwigo
      - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/piwigo_db_password chars=digits')}}"