---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Home Brewery Management
  app:
    image: nickbusey/mashio
    restart: unless-stopped
    networks:
      - traefik_network
    environment:
      - MYSQL_DATABASE=mashio
      - MYSQL_TEST_DATABASE=mashio_test
      - MYSQL_USER=mashio
      - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/mashio_db_password chars=digits')}}"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:mashio.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:mashio.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}

  mashio_db:
    image: mariadb
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - {{ volumes_root }}/mashio_db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD="{{lookup('password', './settings/passwords/mashio_db_root_password chars=digits')}}"
      - MYSQL_DATABASE=mashio
      - MYSQL_TEST_DATABASE=mashio_test
      - MYSQL_USER=mashio
      - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/mashio_db_password chars=digits')}}"
