---
version: '3'

services:
  homebridge:
    image: oznu/homebridge:latest
    restart: unless-stopped
    network_mode: host
    environment:
      - TZ={{ common_timezone }}
      - PGID={{ gid }}
      - PUID={{ uid }}
    volumes:
      - {{ volumes_root }}/homebridge:/homebridge